html {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  position: relative;

  display: grid;
  grid-template-areas:
    "header header"
    "tabs side-bar"
    "actions side-bar"
    "content side-bar"
    "footer footer";

  grid-template-columns: 824px 200px;
  grid-template-rows: 130px 90px 90px calc(100vh - 130px - 90px - 90px);

  background-color: #f3f3f3;
  color: #292929;
}

.header {
  grid-area: header;
  width: 1024px;
  height: 130px;
  background-image: url("../images/header.png");
  top: 0;
  z-index: 999999;
}

.main-tabs {
  grid-area: tabs;
  position: sticky;
  border-bottom: 3px solid #979797;
  margin-left: 30px;
  top: 90px;
  background-color: #f3f3f3;
  z-index: 5000;
}

.tabs {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.tabs > li {
  display: inline-block;
  margin: 0;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
}

.tabs > li > a {
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  color: #292929;
  display: inline-block;
  margin-top: 7px;
}

.tabs > li.active > a {
  color: #004d6a;
  border-bottom: 3px solid #004d6a;
}

.content {
  grid-area: content;
  overflow: auto;
  padding: 0 30px;
  padding-right: 0;
}

.entry-details {
  background-color: #fff;
}

.footer {
  grid-area: footer;
  height: 504px;
  background-image: url("../images/footer.png");
  /*z-index: 999999;*/
}
